<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezultat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <h3>Aplikacija nije ranjiva! Vaš novac je sigurno prebačen na račun: <b><%= formData.odredisniRacun  %></b></h3>
        <h4>Uplaćeni iznos: <b><%= formData.iznos  %></b></h4>
        <p>Sve to zahvaljujući tokenu koji se provjerava. Možete ga vidjeti u putanji.</p>
        <form action="/" method="get">
            <button type="submit" class="btn btn-primary">Natrag</button>
        </form>
    </div>
</body>
</html>