<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezultat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-2">Aplikacija je ranjiva: <b><%= formData.ranjivostChecked %></b></h1>
        <br>
        <h3>Podaci spremljeni u bazu:</h3>
        <p>Poruka: <b><%= formData.poruka %></b></p>
        <p>Pin: <b><%= formData.pin  %></b></p>

        <form action="/" method="get">
            <button type="submit" class="btn btn-primary">Natrag</button>
        </form>
    </div>
</body>
</html>